fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.0+cpu
torchvision==0.22.0+cpu
pillow
numpy

transformers
peft
accelerate
safetensors

opencv-python-headless
ultralytics
